html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  color: $color-grayish-blue;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
}

h3 {
  color: $color-dark-blue;
  margin-bottom: 1.5rem;
}

.card p {
  margin-bottom: 2.5rem;
}
